@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
html {
	scroll-behavior: smooth;
}
body {
	height: 100%;
	background-image: linear-gradient(#dbdbdb, #ebebeb 45%, white 90%);
}
body * {
	font-family: 'Roboto Slab', serif;
}
a {
	text-decoration: none;
}
