html {
	scroll-behavior: smooth;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
	::-webkit-scrollbar {
		width: 0; /* Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}
}
html.locked {
	overflow: hidden;
}

body {
	height: 100%;
	min-width: 350px;
	overflow-x: hidden;
}
body * {
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
	&:focus {
		outline: none;
	}
}
a {
	text-decoration: none;
}
@media only screen and (max-width: 1000px) {
	body {
		width: 100%;
	}
}
