@use '../library'as lib;

.root {
	display: flex;
	flex-direction: column;
	padding: 0 150px;
	padding-top: 150px;
	padding-bottom: 100px;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	color: lib.$text;
}

.title {
	color: lib.$highlight_pale;
	text-shadow: lib.$neon_glow_neon;
	font-size: calc(max(6.2vw, 5.5rem));
	font-weight: bold;
	margin-bottom: 65px;
	user-select: none;
}

.projectsContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 35px;
	row-gap: 15px;
	/* max-width: 2000px; */
}

@media only screen and (max-width: 1700px) {
	.root {
		padding-bottom: 20px;
	}

	.projectsContainer {
		grid-template-columns: auto auto;
		row-gap: 20px;
	}
}

@media only screen and (max-width: 1150px) {
	.root {
		padding-bottom: 15px;
	}

	.projectsContainer {
		grid-template-columns: auto;
		row-gap: 10px;
	}

	.titleContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.title {
		padding-top: 50px;
		white-space: nowrap;
		white-space: normal;
		font-size: 5rem;
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 1000px) {
	.root {
		padding-top: 0;
	}

	.title {
		padding-top: 110px;
	}
}

@media only screen and (min-width: 2540px) {
	.title {
		font-size: 9rem;
		margin-bottom: 100px;
	}
}