$background: black;
$background_inverted: white;
$text: white;
$highlight: white;
$hightlight_pale: rgba(246, 246, 246, 1);
$text_inverted: black;
$neon: rgba(255, 31, 143, 1);
$neon_values: rgb(255, 31, 143);
$neon_transparent: rgba(255, 31, 143, 0.5);
