.root {
	background-image: linear-gradient(
		#e0e0e0,
		#e4e4e4 40%,
		#e4e4e4 60%,
		#e0e0e0 100%
	);
	padding: 150px 100px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.aboutMe {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.personalPhotoContainer {
	height: 22rem;
	width: 22rem;
	box-sizing: border-box;
	border-radius: 25%;
	overflow: hidden;
	border: 1px solid black;
	box-shadow: 0 0 8px 4px rgb(65, 65, 65);
}
.personalPhotoContainer img {
	transform: scale(1.3);
	transition: transform 400ms;
}
.personalPhotoContainer:hover img {
	transform: scale(1.1);
}
.infoContainer {
	margin-left: 5rem;
	display: flex;
	flex-direction: column;
}
.title {
	font-size: 5rem;
	margin-bottom: 25px;
}
.descriptionContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.description {
	font-size: 2rem;
	max-width: 65rem;
	line-height: 2.45rem;
	margin-bottom: 20px;
}
.description a {
	color: black;
	text-decoration: underline;
	transition: 350ms;
}
.description a:hover {
	color: #0038a1;
}
.socialsContainer {
	margin-top: auto;
	display: flex;
	flex-direction: row;
	gap: 15px;
}
@media only screen and (max-width: 1700px) {
	.root {
		padding-left: 20px;
		padding-right: 20px;
	}
	.aboutMe {
		flex-direction: column;
	}
	.personalPhotoContainer {
		margin-bottom: 4rem;
	}
}
@media only screen and (max-width: 1000px) {
	.root {
		padding-top: 50px;
	}
	.personalPhotoContainer {
		height: 50vw;
		width: 50vw;
	}
	.title {
		font-size: 3rem;
	}
	.description {
		font-size: 1.8rem;
		line-height: 2.3rem;
	}
	.infoContainer {
		margin: 0 25px;
	}
	.socialsContainer {
		gap: 5px;
	}
}
@media only screen and (max-width: 500px) {
	.title {
		font-size: 2.2rem;
	}
	.description {
		font-size: 1.4rem;
		line-height: 1.7rem;
	}
}
