@keyframes fade {
	0% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.landingPage {
	height: calc(max(100vh, 600px));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background-image: linear-gradient(#dbdbdb, #ebebeb 25%, white 90%);
}
.landingPageIntro {
	margin-right: 40%;
	font-size: 20rem;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	text-shadow: 0 0 2px #000000;
}
.landingPageIntro span {
	letter-spacing: -1.5rem;
}
#firstP {
	animation-name: fade;
	animation-delay: 0s;
	animation-duration: 8.3s;
	animation-iteration-count: infinite;
}
#secondP {
	animation-name: fade;
	animation-delay: .5s;
	animation-duration: 8.3s;
	animation-iteration-count: infinite;
}
#thirdP {
	animation-name: fade;
	animation-delay: 1s;
	animation-duration: 8.3s;
	animation-iteration-count: infinite;
}
.scrollToAboutMe {
	padding: 20px;
	margin-top: 15px;
	font-size: 4rem;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: calc(max(50px,10%));
	background-color: transparent;
	transition: background-color 0.5s, color 0.8s;
}
.scrollToAboutMe::before {
	border-radius: 20px;
	position: absolute;
	height: 100%;
	width: 100%;
	content: '';
	opacity: 0;
	box-shadow: -1px 3px 10px 4px rgba(0, 0, 0, 0.5);
	transition: opacity 500ms;
}

.scrollToAboutMe:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}
.scrollToAboutMe:hover::before {
	opacity: 1;
}
.scrollToAboutMe p {
	margin-right: 20px;
}
.dropdownContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 1.7rem;
	width: 1.7rem;
	margin-right: 5px;
	filter: brightness(0) invert(0);
	transition: filter 0.8s;
}
.scrollToAboutMe:hover .dropdownContainer {
	filter: brightness(0) invert(1);
}
