@use 'library' as lib;
@keyframes fade {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.landingPage {
	height: calc(max(100vh, 600px));
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.landingPageIntro {
	margin-left: 5vw;
	font-size: clamp(5.5rem, 20vw, 17rem);
	display: flex;
	flex-direction: row;
	font-weight: bold;
	color: lib.$highlight_pale;
	text-shadow: lib.$neon_glow_neon;
}
.notBold {
	font-weight: normal;
	margin-left: -0.5vw;
}
.landingPageIntro span {
	letter-spacing: -1.5rem;
}
#spacer {
	display: flex;
	align-items: center;
}
#spacer::before {
	content: '';
	height: clamp(5.7rem, 21vw, 17.5rem);
	margin-left: clamp(1.5rem, 3.5vw, 4.3rem);
	width: clamp(0.15rem, 0.45vw, 0.35rem);
	background-color: lib.$text;
	box-shadow: lib.$neon_glow_weak;
}
#spacer::before {
	animation-name: fade;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.showMobile {
	display: none;
}
.hideMobile {
	display: inline-block;
}
@media only screen and (max-width: 800px) {
	.landingPage {
		align-items: center;
	}
	.landingPageIntro {
		margin-left: 20%;
		margin-right: auto;
	}
}
@media only screen and (max-width: 500px) {
	.showMobile {
		display: inline-block;
	}
	.hideMobile {
		display: none;
	}
}
