@use 'library' as lib;
.root {
	position: fixed;
	width: 100%;
	background-color: rgba(lib.$background, 0.7);
	z-index: 3;
	backdrop-filter: blur(10px);
	top: 0;
}
.list {
	padding: 10px 0;
	display: flex;
	flex-direction: row;
	align-content: center;
	z-index: 3;
}
.navItem {
	padding: 5px;
	margin-left: 30px;
	text-transform: capitalize;
	font-weight: bold;
	color: lib.$text;
	transition: 0.5s;
}
.sectionHeader {
	background-color: rgba(lib.$background, 0.45);
	padding: 10px 20px;
	width: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 2.6rem;
	}
	transition: color 0.5s;
}
.dropdownContainer {
	margin-left: 0.65rem;
	width: 0.8rem;
	aspect-ratio: 1;
	position: relative;
	filter: brightness(0) invert(1);
	transform: rotate(0);
	transition: transform 0.35s;
}
.sectionListContainer {
	position: relative;
}
.sectionList {
	border-top: 2px solid lib.$background;
	opacity: 0;
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 0 0 10px 10px;
	background-color: lib.$background;
	position: absolute;
	transform-origin: top;
	transform: scaleY(0);
	transition: font-size 0.25s, padding 0.25s, transform 0.25s;
	padding-top: 0.7rem;
	padding-bottom: 0.5rem;
}
.sectionListItem {
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	text-decoration: underline;
	text-decoration-color: rgba(lib.$text_inverted, 0);
	transition: 0.35s;
}
.navItem.active {
	.sectionList {
		background-color: lib.$background_inverted;
	}
}
.navItem {
	&:hover .sectionHeader {
		border-radius: 10px 10px 0 0;
		color: lib.$text;
		background-color: lib.$background_inverted;
		cursor: pointer;
		.dropdownContainer {
			transform: rotate(-180deg);
			filter: brightness(0) invert(0);
		}
	}
	&:hover .sectionList {
		&:hover {
			cursor: pointer;
		}
		color: lib.$text;
		opacity: 1;
		background-color: lib.$background_inverted;
		transform: scaleY(1);
		.sectionListItem {
			padding-bottom: 10px;
			&:hover {
				text-decoration-color: rgba(lib.$text_inverted, 1);
			}
		}
	}
}
@media only screen and (max-width: 1000px) {
	.list li {
		font-size: 10vw;
		margin-left: 15px;
	}
	.root {
		width: 100vw;
		display: none;
	}
}
