.root {
	display: inline-grid;
	grid-template-columns: 300px repeat(auto-fit, 200px);
	padding: 10px;
	margin: 10px;
	margin-bottom: 50px;
	border-radius: 30px;
	box-sizing: border-box;
	max-width: 550px;
	transition: background-color 0.45s;
	position: relative;
}
.root::before,
.root::after {
	transition: opacity 0.5s;
	border-radius: 30px;
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}
.root::before {
	box-shadow: -1px 3px 6px 5px rgba(0, 0, 0, 0.5);
	opacity: 1;
}
.root::after {
	opacity: 0;
	box-shadow: -2px 4px 7px 5px rgba(0, 0, 0, 0.5);
}
.root.hover::before {
	opacity: 0;
}
.root.hover::after {
	opacity: 1;
}
.titleContainer {
	display: flex;
	align-items: center;
	margin: 20px 5px;
	margin-left: 10px;
}
.title {
	font-size: 2.6rem;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: rgba(0, 0, 0, 0);
	transition: 0.5s;
}
.title:hover {
	cursor: pointer;
	text-decoration-color: rgba(0, 0, 0, 1);
}
.contentContainer {
	margin: 0 20px;
	grid-column: span 2;
}
.description {
	font-size: 1.4rem;
	line-height: 24px;
	margin-bottom: 25px;
}
.technologiesSection {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.technologiesHeader {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 5px;
}
.technologiesContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}
.linkContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.repoLinkContainer,
.liveLinkContainer {
	margin: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}
.repoLink,
.liveLink {
	width: 85%;
	display: inline-flex;
	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 10px 12px;
	border-radius: 20px;
	background-color: transparent;
	font-size: 1.2rem;
	transition: background-color 450ms, color 600ms, width 450ms;
}
.repoLink:hover,
.liveLink:hover {
	background-color: black;
	color: white;
	width: 100%;
}
.repoLink .linkImageContainer {
	height: 1.4rem;
	width: 1.4rem;
}
.liveLink .linkImageContainer {
	height: 1.3rem;
	width: 1.3rem;
}
.linkImageContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
	filter: brightness(0) invert(0);
	transition: 600ms;
}
.repoLink:hover .linkImageContainer,
.liveLink:hover .linkImageContainer {
	filter: brightness(0) invert(1);
}
.readMore {
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: rgba(0, 0, 0, 0);
	text-decoration-thickness: 1.5px;
	transition: 0.4s;
}
.readMore:hover {
	cursor: pointer;
	text-decoration-color: rgba(0, 0, 0, 1);
}
@media only screen and (max-width: 1000px) {
	.root {
		grid-template-columns: auto;
		width: 92vw;
		margin-bottom: 15px;
	}
	.contentContainer {
		grid-column: span 1;
	}
	.liveLinkContainer,
	.repoLinkContainer {
		align-items: flex-start;
		justify-content: flex-start;
	}
	.liveLink,
	.repoLink {
		width: auto;
		font-weight: bold;
		font-size: 1.4rem;
		padding: 5px 5px;
	}
}
@media only screen and (max-width: 1700px) {
	.root {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 1150px) {
	.root {
		margin-bottom: 20px;
	}
}
@media only screen and (min-width: 2540px) {
	.root {
		max-width: 700px;
		grid-template-columns: 400px repeat(auto-fit, 300px);
	}
	.liveLink,
	.repoLink {
		font-size: 2rem;
		width: 80%;
	}
	.repoLink:hover,
	.liveLink:hover {
		width: 90%;
	}
	.title {
		font-size: 3.5rem;
	}
	.titleContainer {
		margin-bottom: 40px;
	}
	.description {
		font-size: 1.9rem;
		line-height: 2.3rem;
	}
	.technologiesHeader {
		font-size: 1.9rem;
		margin-bottom: 10px;
	}
}
