@use 'library' as lib;
.root {
	// background-image: linear-gradient(
	// 	#e0e0e0,
	// 	#e4e4e4 30%,
	// 	#e4e4e4 60%,
	// 	#c8c8c8 100%
	// );
	background-color: lib.$background;
	display: flex;
	flex-direction: column;
	padding: 0 150px;
	padding-top: 150px;
	padding-bottom: 100px;
	min-height: 100vh;
	/* align-content: center; */
	justify-content: center;
	align-items: center;
	color: lib.$text;
}
.title {
	color: lib.$highlight_pale;
	// text-shadow: min(0.3vw, 0.25rem) min(0.3vw, 0.25rem) lib.$neon;
	text-shadow: lib.$neon_glow_neon;
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 65px;
}
.projectsContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 35px;
	row-gap: 15px;
	/* max-width: 2000px; */
}
@media only screen and (max-width: 1700px) {
	.root {
		padding-bottom: 20px;
	}
	.projectsContainer {
		grid-template-columns: auto auto;
		row-gap: 20px;
	}
}
@media only screen and (max-width: 1150px) {
	.root {
		padding-bottom: 15px;
	}
	.projectsContainer {
		grid-template-columns: auto;
		row-gap: 10px;
	}
	.title {
		padding-top: 50px;
		white-space: nowrap;
		font-size: 2.3rem;
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 1000px) {
	.root {
		padding-top: 0;
	}
	.title {
		padding-top: 35px;
	}
}
@media only screen and (min-width: 2540px) {
	.title {
		font-size: 8.5rem;
		margin-bottom: 100px;
	}
}
