.root {
	position: absolute;
	width: 100%;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	bottom: calc(min(20%, 50px));
	margin-top: 15px;
}
.button {
	color: white;
	padding: 20px;
	font-size: 4rem;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: transparent;
	box-shadow: 0 0 0 0 transparent;
	box-sizing: border-box;
	position: relative;
	text-shadow: 0 0 3px rgba(255, 255, 255, 0);
	transition: background-color 0.5s, color 0.8s, text-shadow 0.2s;
	.dropdownContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 1.7rem;
		width: 1.7rem;
		margin-right: 5px;
		filter: brightness(0) invert(1);
		transform: rotate(-90deg);
		transition: 0.8s;
	}
	&::before {
		border-radius: 20px;
		position: absolute;
		height: 100%;
		width: 100%;
		content: '';
		opacity: 1;
		box-shadow: 0 0 10px 4px rgba(255, 31, 143, 0.5);
		transition: opacity 500ms;
		opacity: 0;
	}
	&:hover {
		background-color: rgba(255, 31, 143, 0.8);
		stroke: black;
		text-shadow: 0 0 3px white;
		cursor: pointer;
		&::before {
			opacity: 1;
		}
		.dropdownContainer {
			filter: brightness(0) invert(1);
			transform: rotate(0deg);
		}
	}
	p {
		margin-right: 20px;
	}
}
@media only screen and (max-width: 1250px) {
	.dropdownContainer {
		transform: rotate(0);
		height: 1.4rem;
		width: 1.4rem;
	}
}
@media only screen and (max-width: 1000px) {
	.dropdownContainer {
		height: 1.2rem;
		width: 1.2rem;
	}
	.button {
		font-size: 2.6rem;
	}
}
