.imageContainer {
   display: inline-block;
   border-radius: 50%;
   overflow: hidden;
   background-color: white;
   height: 60px;
   width: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: height 0.2s, width 0.2s, background-color 0.45s;
}
.imageContainer.hover {
   background-color: black;
   height: 80px;
   width: 80px;
}
.imageContainer:hover {
   cursor: pointer;
}
.image {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 85%;
   width: 85%;
	filter: brightness(0);
	transition: filter .2s;
}
.hover .image{
	filter: brightness(1);
}
.label{
	margin-top: 5px;
	font-size: 26px;
	opacity:0;
	transition: opacity 0.4s;
}
.label.show{
	opacity: 1;
}