@use 'library'as lib;

.root {
	margin-bottom: 1em;
	max-width: 95vw;
}

.titleBlock {
	font-size: 1.4em;
}

.descriptionBlock {
	font-size: 1em;
	white-space: pre-line;
	margin-top: .3em;
	margin-bottom: .3em;
}

.textBlockContainer {
	position: relative;
	margin-top: .5em;
	padding: 1.4em 1.1em;
	background-color: rgb(30, 30, 30);
	border-radius: .3em;
	border-left: .1em solid rgba(lib.$neon_values, 0.5);
}

.textBlock {
	max-width: 100%;
	font-size: .9em;
	display: inline-flex;
	flex-direction: column;
	overflow-x: auto;
	white-space: pre;

}

.highlightedVariable {
	color: rgb(0, 210, 210);
}

.highlightedType {
	color: lib.$neon
}


.copyButtonContainer {
	user-select: none;
	position: absolute;
	top: .35em;
	right: .35em;
	width: min(1.15em, 30px);
	height: min(1.15em, 30px);
	display: flex;
}

.copyButton {

	filter: brightness(0) invert(1);
	transition: filter .2s ease-in-out;

	&:hover {
		cursor: pointer;
		filter: brightness(0) invert(.75);
	}

	&:active {
		transition: none;
		filter: brightness(0) invert(.5);
	}
}