@use '../../../library' as lib;

.root {
	padding-top: 2em;
	padding-bottom: 2em;
	max-width: 100vw;
}

.projectContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.preview {
	aspect-ratio: 16/9;
	width: 50%;
	user-select: none;
	padding: .35em;
	border-radius: .5em;
	border: 1px solid transparent;
	box-shadow: lib.$neon_glow_neon;
	z-index: 0;
	transition: 1.5s;

	img {
		transition: .5s;
		opacity: .45;

	}

	&:hover {
		border: 1px solid lib.$neon;

		img {
			opacity: .9;
		}
	}
}

.info {
	max-width: min(35%, 40vw);
	font-size: clamp(1.1em, 1vw, 1.75em);
}

.annotation {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	width: max-content;
	position: relative;
	z-index: 1;
	line-height: normal;
}

.title {
	font-size: 1.8em;
	margin-bottom: .15em;
	text-decoration: underline;
	text-decoration-color: transparent;

	&:hover {
		text-decoration-color: white;
	}
}

.meta {
	display: flex;
	flex-direction: column;

	@supports(backdrop-filter: blur(7px)) {
		background-color: rgba(20, 20, 20, 0.65);
		backdrop-filter: blur(7px);
	}

	@supports not(backdrop-filter: blur(7px)) {
		background-color: rgba(30, 30, 30, .95);
	}

	border-radius: .5em;
	padding: 1.15em .75em;
}

.description {
	text-align: justify;
}


.annotateRight {
	flex-direction: row;

	.info {
		margin-left: -15%;
	}

	.annotation {
		align-items: flex-end;
	}

	.meta {
		align-items: flex-end;
	}

	.techonologiesContainer {
		align-items: flex-end;
	}

	.title {
		margin-left: auto;
		padding-left: .5em;
		text-align: right;
	}
}

.annotateLeft {
	flex-direction: row-reverse;

	.info {

		margin-right: -15%;
	}

	.annotation {
		align-items: flex-start;
	}

	.meta {
		align-items: flex-start;
	}

	.techonologiesContainer {
		align-items: flex-start;
	}

	.title {
		margin-right: auto;
		padding-right: .5em;
		text-align: left;
	}
}

.techonologiesContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 1.1em;
}

.technologies {
	display: flex;
}

.technologiesAnnotation {
	margin-top: .4em;
	font-size: 1.1em;
	margin-bottom: .2em;
	user-select: none;
}

.metaTop {
	display: flex;
	width: 100%;
}

.links {
	display: flex;
	user-select: none;
	gap: .5em;
}

.linkContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.repoLink,
.liveLink {
	display: inline-flex;
	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.5em 0.7em;
	border-radius: 1.2em;
	background-color: transparent;
	font-size: 1.2rem;
	color: lib.$text;
	transition: background-color 450ms, color 600ms, padding 450ms, box-shadow 400ms;

	&:hover,
	&:focus {
		background-color: lib.$neon;
		color: lib.$text;
		box-shadow: 0 0 10px 4px lib.$neon_transparent, 0 0 0.15em lib.$neon;
		cursor: pointer;
		padding: 0.5em 1.1em;
	}
}

.linkImageContainer {
	aspect-ratio: 1;
	width: 1.1em;
}

.linkImageContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0.5rem;
	filter: brightness(0) invert(1);
	transition: 600ms;
}

@media(max-width: 1400px) {
	.info {
		max-width: min(45%, 40vw);
	}
}

@media (max-width: 1000px) {
	.techonologiesContainer {
		display: none;
	}

	.projectContainer {
		align-items: center;
		justify-content: center;
	}

	.info {
		position: absolute;
		display: flex;
		justify-content: center;
		margin: 0 !important;
		max-width: 100%;
	}

	.meta {
		width: 100%;

	}

	.annotateLeft {
		.metaTop {
			flex-direction: row-reverse;
		}

		.title {
			margin-left: auto;
			margin-right: 0;
			text-align: right;
		}
	}

	.preview {
		width: 80vw;
	}

	.annotation {
		width: 70vw;
	}

	.links {
		flex-direction: column;
	}

	.metaTop {
		margin-bottom: .65em;
	}
}

@media (max-width: 600px) {
	.preview {
		display: none;
	}

	.info {
		position: relative;
	}

	.metaTop {
		flex-direction: column-reverse !important;
		align-items: flex-start;
	}

	.title {
		text-align: left !important;
		margin-left: 0 !important;
	}

	.annotateLeft {
		.metaTop {
			flex-direction: column !important;
			align-items: flex-start;
		}
	}


}