@use '../library'as lib;

@keyframes fade {
	0% {
		opacity: 1;
	}

	45% {
		opacity: 0;
	}

	55% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.movingText {
	user-select: none;
}

.landingPage {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.landingPageIntro {
	margin-left: 5vw;
	margin-top: auto;
	font-size: clamp(5.5rem, 20vw, 17rem);
	display: flex;
	flex-direction: row;
	font-weight: bold;
	color: lib.$highlight_pale;
	text-shadow: lib.$neon_glow_neon;
	white-space: pre;
}

.notBold {
	font-weight: normal;
	margin-left: -0.5vw;
}

.landingPageIntro span {
	letter-spacing: -1.5rem;
}

#spacer {
	display: flex;
	align-items: center;
}

#spacer::before {
	content: '';
	height: clamp(5.7rem, 21vw, 17.5rem);
	margin-left: .05em;
	width: clamp(0.15rem, 0.45vw, 0.35rem);
	background-color: lib.$text;
	box-shadow: lib.$neon_glow_weak;
}

#spacer.animate::before {
	animation-name: fade;
	animation-duration: 2.5s;
	animation-delay: .4s;
	animation-iteration-count: infinite;
}

.showMobile {

	&,
	&::before {
		display: none;
	}
}

.hideMobile {

	&,
	&::before {
		display: inline-block;
	}
}

@media only screen and (max-width: 800px) {
	.landingPage {
		align-items: center;
	}

	.landingPageIntro {
		margin-left: 20%;
		margin-right: auto;
	}
}

@media only screen and (max-width: 500px) {
	.showMobile {

		&,
		&::before {
			display: inline-block;
		}
	}

	.hideMobile {

		&,
		&::before {
			display: none;
		}
	}
}